* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(113deg, rgba(27,68,2,1) 5%, rgba(30,121,9,1) 25%, rgba(108,255,0,1) 67%, rgba(30,52,4,1) 98%);
  }
  .container {
    background-color: #ffffff;
    width: 90vw;
    font-size: 16px;
    max-width: 28em;
    padding: 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 0 3.2em rgba(1, 3, 29, 0.2);
    border-radius: 0.6em;
  }
  h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
  }
  h3{
    width: 100%;
    height: 2em;
    font-size: 1.35em;
    font-weight: 400;
    border: 1px solid #a0a0a0;
    border-radius: 0.2em;
  }
  .input-wrapper input {
    display: block;
    width: 100%;
    font-size: 1.35em;
    padding: 0.4em;
    border: 1px solid #a0a0a0;
    border-radius: 0.2em;
  }
  .input-wrapper label {
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.25em;
  }
  .input-wrapper:not(:last-child) {
    margin-bottom: 1.2em;
  }
  button{
    font-size: 1.35em;
    padding: 0.4em;
    color: white;
    background-color:rgba(108,255,0,1);
    border: 1px solid rgba(30,121,9,1);
    border-radius: 0.25em;
  }
  @media screen and (max-width: 28em) {
    .container {
      font-size: 14px;
    }
  }